
################################## C++
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
# *.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
# *.lib

# Executables
*.exe
*.out
*.app

################################## Proyecto
Proyecto.02/.vs/
Proyecto.02/x64/
Proyecto.02/project/x64/
Proyecto.02/Debug/
Proyecto.02/project/Debug/
Proyecto.02/Release/
Proyecto.02/project/Release/