h1 {
  text-align: center;
  font-family: Courier;
}
a {
  text-align: right;
  color:white;
}
p{
	font-family: 'Monaco', monospace;
	color:whitesmoke;
	font-size: 32px;
	display: inline-block;
	padding-inline: 20px;

}
ul{
	font-family: 'Monaco', monospace;
	color:whitesmoke;
	font-size: 32px;
	display: inline-block;
	padding-inline: 0px;
}

h3 {
	font-family: 'Monaco', monospace;
	font-size: 32px;
 	text-align: center;
  	color:whitesmoke;
}
body {
	background-image: url("../html_imgs/fondo.png");
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: 100% 30%;
	background-attachment: scroll;
}
* {
	margin:0px;
	padding:0px;
}

#banner{
	margin: auto;
	width: 100%;
	text-align: center;
}
#descargar{
	background-image: url("../html_imgs/marco.png");
	background-repeat: no-repeat;;
	background-size: 100% 100%;
	margin: 90px 1.5em 0 auto;
	height: 300px;
	width: 350px;
	display:flex;
    justify-content: center;
    align-items: center;
	text-align: center;
    word-break: break-all;
	word-break: break-word;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}

#video{
	background-image: url("../html_imgs/marco.png");
	background-repeat: no-repeat;;
	background-size: 100% 100%;
	margin: -300px 0 0 110px;
	height: 500px;
	width: 900px;
	display:flex;
    justify-content: center;
    align-items: center;
	text-align: center;
    word-break: break-all;
	word-break: break-word;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
	
}
#fotos1{
	background-image: url("../html_imgs/marco.png");
	background-repeat: no-repeat;;
	background-size: 100% 100%;
	margin: 0px 0 0 10px;
	height: 600px;
	width: 500px;
	display:flex;
    justify-content: center;
    align-items: center;
	text-align: center;
    word-break: break-all;
	word-break: break-word;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}
#fotos2{
	background-image: url("../html_imgs/marco.png");
	background-repeat: no-repeat;;
	background-size: 100% 100%;
	margin: -600px 0 0 31.4em;
	height: 600px;
	width: 500px;
	display:flex;
    justify-content: center;
    align-items: center;
	text-align: center;
    word-break: break-all;
	word-break: break-word;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
	object-position: center;
}
#fotos3{
	background-image: url("../html_imgs/marco.png");
	background-repeat: no-repeat;;
	background-size: 100% 100%;
	margin: -600px 1.8em 0 auto;
	height: 600px;
	width: 500px;
	display:flex;
    justify-content: center;
    align-items: center;
	text-align: center;
    word-break: break-all;
	word-break: break-word;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}
#fotos4{
	background-image: url("../html_imgs/marco.png");
	background-repeat: no-repeat;;
	background-size: 100% 100%;
	margin: 0, 100px, 0, 10px;
	height: 600px;
	width: 500px;
	display:flex;
    justify-content: center;
    align-items: center;
	text-align: center;
    word-break: break-all;
	word-break: break-word;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}
#fotos5{
	background-image: url("../html_imgs/marco.png");
	background-repeat: no-repeat;;
	background-size: 100% 100%;
	margin: -600px 0 0 31.4em;
	height: 600px;
	width: 500px;
	display:flex;
    justify-content: center;
    align-items: center;
	text-align: center;
    word-break: break-all;
	word-break: break-word;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}
#fotos6{
	background-image: url("../html_imgs/marco.png");
	background-repeat: no-repeat;;
	background-size: 100% 100%;
	margin: -600px 1.8em 0 auto;
	height: 600px;
	width: 500px;
	display:flex;
    justify-content: center;
    align-items: center;
	text-align: center;
    word-break: break-all;
	word-break: break-word;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}
#fotos7{
	background-image: url("../html_imgs/marco.png");
	background-repeat: no-repeat;;
	background-size: 100% 100%;
	margin: 0, 100px, 0, 100px;
	height: 600px;
	width: 500px;
	display:flex;
    justify-content: center;
    align-items: center;
	text-align: center;
    word-break: break-all;
	word-break: break-word;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}
#fotos8{
	background-image: url("../html_imgs/marco.png");
	background-repeat: no-repeat;;
	background-size: 100% 100%;
	margin: -600px 0 0 31.4em;
	height: 600px;
	width: 500px;
	display:flex;
    justify-content: center;
    align-items: center;
	text-align: center;
    word-break: break-all;
	word-break: break-word;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}
#fotos9{
	background-image: url("../html_imgs/marco.png");
	background-repeat: no-repeat;;
	background-size: 100% 100%;
	margin: -600px 1.8em 0 auto;
	height: 600px;
	width: 500px;
	display:flex;
    justify-content: center;
    align-items: center;
	text-align: center;
    word-break: break-all;
	word-break: break-word;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}
#fotos10{
	background-image: url("../html_imgs/marco.png");
	background-repeat: no-repeat;;
	background-size: 100% 100%;
	margin: auto;
	height: 600px;
	width: 500px;
	display:flex;
    justify-content: center;
    align-items: center;
	text-align: center;
    word-break: break-all;
	word-break: break-word;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}

#texto{
	background-image: url("../html_imgs/marco.png");
	background-repeat: no-repeat;;
	background-size: 100% 100%;
	margin: 90px 1.5em 0 auto;
	height: auto;
	width: auto;
	font-family: 'Monaco', monospace;
	color:whitesmoke;
	font-size: 40px;
	margin-left: 25%;
 	margin-right: 25%;
	display:flex;
    justify-content: center;
    align-items: center;
	text-align: center;
    word-break: break-all;
	word-break: break-word;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}
			
#header {
	margin: auto;
	width: 100%;
	text-align: center;
}

#content{
	background-image: url("../html_imgs/marco.png");
	background-repeat: no-repeat;;
	background-size: 100% 100%;
	margin: 90px 1.5em 0 auto;
	height: auto;
	width: auto;
	display:flex;
    justify-content: center;
    align-items: center;
	text-align: center;
    word-break: break-all;
	word-break: break-word;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}
			
ul, ol {
	list-style:none;
}
			
.nav > li {
	display: inline-block;
}	
.nav li ul {
	display:none;
	position:absolute;
	min-width:50px;
}
			
.nav li:hover > ul {
	display:block;
}
			
.nav li ul li {
	position:relative;
}
			
.nav li ul li ul {
	right:-140px;
	top:0px;
}

ul#rrss{
	padding-bottom: 20px;
}
#menu0{
	width: 300px;
	height: 90px;
	background-image: url("../html_imgs/juego.png");
}
#menu0:hover{
	background-image: url("../html_imgs/juegoh.png");
}
#menu1{
	width: 300px;
	height: 90px;
	background-image: url("../html_imgs/historia.png");
}
#menu10{
	width: 300px;
	height: 90px;
	background-image: url("../html_imgs/objetivos.png");
}
#menu10:hover{
	background-image: url("../html_imgs/objetivosh.png");
}
#menu11{
	width: 300px;
	height: 90px;
	background-image: url("../html_imgs/personajes.png");
}
#menu11:hover{
	background-image: url("../html_imgs/personajesh.png");
}
#menu12{
	width: 300px;
	height: 90px;
	background-image: url("../html_imgs/armas.png");
}
#menu12:hover{
	background-image: url("../html_imgs/armash.png");
}
#menu2{
	width: 300px;
	height: 90px;
	background-image: url("../html_imgs/acerca.png");
}
#menu20{
	width: 300px;
	height: 90px;
	background-image: url("../html_imgs/ajuego.png");
}
#menu20:hover{
	background-image: url("../html_imgs/ajuegoh.png");
}
#menu21{
	width: 300px;
	height: 90px;
	background-image: url("../html_imgs/nosotros.png");
}
#menu21:hover{
	background-image: url("../html_imgs/nosotrosh.png");
}
#menu3{
	width: 300px;
	height: 90px;
	background-image: url("../html_imgs/redes.png");
}
#menu3:hover{
	background-image: url("../html_imgs/redesh.png");
}

